
<!DOCTYPE html>
<html lang="en">
<head>

<title>| Customize</title>

<meta charset="utf-8">
  <link rel="icon" href="https://cdn.discordapp.com/emojis/749075115093917706.png?v=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="f77eb3da68aa03abc4707f76-text/javascript"></script>
  <script src="https://kit.fontawesome.com/a2b9a7be17.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
        #carbonads {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
                sans-serif;
        }

        #carbonads {
            display: block;
            overflow: hidden;
            max-width: 728px;
            position: relative;
            color: #99AAB5;
            background-color: #16151d;
            font-size: 22px;
            box-sizing: content-box;
        }

        #carbonads>span {
            display: block;
        }

        #carbonads a {
            color: inherit;
            text-decoration: none;
        }

        #carbonads a:hover {
            color: inherit;
        }

        .carbon-wrap {
            display: flex;
            align-items: center;
        }

        .carbon-img {
            display: block;
            margin: 0;
            line-height: 1;
        }

        .carbon-img img {
            display: block;
            height: 90px;
            width: auto;
        }

        .carbon-text {
            display: block;
            padding: 0 1em;
            line-height: 1.35;
            text-align: left;
        }

        .carbon-poweredby {
            color: #b256b6 !important;
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 6px 10px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 600;
            font-size: 8px;
            border-top-left-radius: 4px;
            line-height: 1;
        }

        @media only screen and (min-width: 320px) and (max-width: 759px) {
            .carbon-text {
                font-size: 14px;
            }
        }

        .row {
            color: #fff;
        }

        .tabs .tab a {
            color: #b256b6 !important;
            background-color: #1e1d25 !important;
        }

        .tabs .tab.disabled a {
            color: #2d6582 !important;
        }

        .tabs .tab a:focus,
        .tabs .tab a:focus.active {
            background-color: #1e1d25 !important;
            outline: none;
        }

        .dropdown-content {
            background-color: #1e1d25 !important;
            color: #fff;
        }

        .select-dropdown>span {
            color: #9e9e9e !important;
        }

        .dropdown-content li {
            color: #9e9e9e !important;
        }

        .select-dropdown li.disabled,
        .select-dropdown li.disabled>span,
        .select-dropdown li.optgroup {
            color: #616161 !important;
        }

        .collection {
            border: transparent !important;
        }

        .collection .collection-item {
            background-color: #1e1d25 !important;
            border-bottom: transparent !important;
        }

        .collection .collection-item.avatar .title {
            color: #fff;
        }

        p {
            color: #fff;
        }

        .card {
            background: #1e1d25 !important;
        }
  
  .topnav {
  background-color: #16151d;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #C0C0C0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ffffff;
}

    .topnav2 {
  background-color: #16151d;
  overflow: hidden;
}

  .topnav2 a:hover {
  color: #FF0000;
}
/* Style the links inside the navigation bar */
.topnav2 a {
  float: right;
  color: #C0C0C0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
    </style>
</style>
<link type="text/css" rel="stylesheet" href="/css/global.css" media="screen,projection" />
 </head> <body>
<noscript>You need JavaScript Enabled to use Hydrros site.</noscript>
    <div class="preloader"></div>

<script type="f77eb3da68aa03abc4707f76-text/javascript">
        $(window).on('load', function () {
            $('.preloader').fadeOut(1000);
            $('.tabs').tabs();
            $('.modal').modal();
            $('select').formSelect();
        }); 
    </script>

  

<script src="https://zswtg41vp2vd.statuspage.io/embed/script.js" type="f77eb3da68aa03abc4707f76-text/javascript"></script>
<style>
    body {
  margin:0;
  background-color: #1e1d25;
  font-family: 'Mukta', sans-serif;
}
  
    .sidenav {
        color: #fff;
        background-color: #16151d;
    }

    .sidenav li>a {
        color: #fff;
        font-weight: inherit;
    }

    .dropdown-content {
        color: #fff;
        background-color: #16151d;
    }

    .dropdown-content a:hover {
        background: rgba(0, 0, 0, 0.644);
        border: none;
    }

    .divider {
        background: #99AAB5;
    }
</style>
<script type="f77eb3da68aa03abc4707f76-text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
    $(document).ready(function () {
        $(".dropdownpoop").dropdown({ hover: true });
    });
</script>

  
     <div class="topnav">
      <a href="/"><i class="fas fa-laptop-house"></i> Home</a>
          <a href="/premium"><i class="far fa-gem"></i> Premium</a>
              <a href="/guilds"><i class="fas fa-cogs"></i></i> Dashboard</a>
          <a href="/customize"><i class="fas fa-palette"></i></i> Customize</a>
          <a href="/profile"><i class="fas fa-id-card-alt"></i></i> Profile</a>

        	<a href="/server" target="_blank"><i class="fab fa-discord"></i></a>


    <div class="topnav2">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>

      

</div>
  
  
<h1> </h1>
<div class="container">
<div class="row">
<div class="col s12">
<ul class="tabs tabs-fixed-width">
<li class="tab col s3"><a href="#back">Backgrounds</a></li>
<li class="tab col s3"><a href="#badge">Badges</a></li>
</ul>
</div>
<h1 style="padding-bottom: 33px;"></h1>
</div>
<div id="back" class="col s12">
<div class="row">
<div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741429833044590633/48-482983_pretty-art-backgrounds.jpg?size=512">
      <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741429833044590633/48-482983_pretty-art-backgrounds.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                <%if(bg1 === null) {%>

           <form class="box" action="/customize/1" method='post' id="buy_1">
  <center><button type="submit" class="btn" id="buy_1" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy1();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg1 === 'true') {%>
     <form class="box" action="/customize/u1" method='post' id="use_1">
  <center><button type="submit" class="btn" id="use_1" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use1();">USE</button></center>
  </form>
  <%}%>
</div>
</div>
</div>
  
  
  <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741429834277978172/67-671044_anime-wallpaper-hd-4k.jpg?size=512">
    <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741429834277978172/67-671044_anime-wallpaper-hd-4k.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                <%if(bg2 === null) {%>

           <form class="box" action="/customize/2" method='post' id="buy_2">
  <center><button type="submit" class="btn" id="buy_2" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy2();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg2 === 'true') {%>
     <form class="box" action="/customize/u2" method='post' id="use_2">
  <center><button type="submit" class="btn" id="use_2" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use1();">USE</button></center>
  </form>
  <%}%>
</div>
</div>
</div>
  
  <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741429837478232124/144020.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741429837478232124/144020.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>

  <%}%>
                    <%if(bg3 === null) {%>

           <form class="box" action="/customize/3" method='post' id="buy_3">
  <center><button type="submit" class="btn" id="buy_3" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy3();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg3 === 'true') {%>
     <form class="box" action="/customize/u3" method='post' id="use_3">
  <center><button type="submit" class="btn" id="use_3" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use3();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  
 
    <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741430560093896804/rZP9JH0z_400x400.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741430560093896804/rZP9JH0z_400x400.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                    <%if(bg4 === null) {%>

           <form class="box" action="/customize/4" method='post' id="buy_4">
  <center><button type="submit" class="btn" id="buy_4" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy4();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg4 === 'true') {%>
     <form class="box" action="/customize/u4" method='post' id="use_4">
  <center><button type="submit" class="btn" id="use_4" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use4();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  
  
    <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741430562090385549/Webp.net-resizeimage_1.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741430562090385549/Webp.net-resizeimage_1.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                    <%if(bg5 === null) {%>

           <form class="box" action="/customize/5" method='post' id="buy_5">
  <center><button type="submit" class="btn" id="buy_3" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy5();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg5 === 'true') {%>
     <form class="box" action="/customize/u5" method='post' id="use_5">
  <center><button type="submit" class="btn" id="use_5" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use5();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  
  
    <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741430564103651338/Webp.net-resizeimage_2.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741430564103651338/Webp.net-resizeimage_2.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                    <%if(bg6 === null) {%>

           <form class="box" action="/customize/6" method='post' id="buy_6">
  <center><button type="submit" class="btn" id="buy_6" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy6();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg6 === 'true') {%>
     <form class="box" action="/customize/u6" method='post' id="use_6">
  <center><button type="submit" class="btn" id="use_6" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use6();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  
  
      <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741430566251003944/Webp.net-resizeimage.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741430566251003944/Webp.net-resizeimage.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                    <%if(bg7 === null) {%>

           <form class="box" action="/customize/7" method='post' id="buy_7">
  <center><button type="submit" class="btn" id="buy_7" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy7();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg7 === 'true') {%>
     <form class="box" action="/customize/u7" method='post' id="use_7">
  <center><button type="submit" class="btn" id="use_7" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use7();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  
  
  
        <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/741430568507539556/Webp.net-resizeimage2.png?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/741430568507539556/Webp.net-resizeimage2.png') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                    <%if(bg8 === null) {%>

           <form class="box" action="/customize/8" method='post' id="buy_8">
  <center><button type="submit" class="btn" id="buy_8" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy8();">$1000</button></center>
  </form>
            <%}%>
                  <%if(bg8 === 'true') {%>
     <form class="box" action="/customize/u8" method='post' id="use_7">
  <center><button type="submit" class="btn" id="use_8" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use8();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  
   <% if(vip == "True") { %>
  <br>
  <br>
  <center><h2>
    <strong>VIP Backgrounds</strong>
    </h2></center>
  
 
  
  
  <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/743740896280969246/43.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/743740896280969246/43.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
           <form class="box" action="/customize/vip1" method='post' id="buy_v1">
  <center><button type="submit" class="btn" id="buy_v1" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy8();">USE</button></center>
  </form>
  
  
</div>
</div>
</div>
  
    <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/743740898411806740/44.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/743740898411806740/44.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
           <form class="box" action="/customize/vip2" method='post' id="buy_v2">
  <center><button type="submit" class="btn" id="buy_v2" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy8();">USE</button></center>
  </form>
  
  
</div>
</div>
</div>
  
    <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/743740899523035186/46.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/743740899523035186/46.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
           <form class="box" action="/customize/vip3" method='post' id="buy_v3">
  <center><button type="submit" class="btn" id="buy_v3" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy8();">USE</button></center>
  </form>
  
  
</div>
</div>
</div>
  
  
    <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/741429412083269753/743740900735320174/47.jpg?size=512">
                  <%if(curbg === 'https://cdn.discordapp.com/attachments/741429412083269753/743740900735320174/47.jpg') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
           <form class="box" action="/customize/vip4" method='post' id="buy_v4">
  <center><button type="submit" class="btn" id="buy_v4" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy8();">USE</button></center>
  </form>
  
  
</div>
</div>
</div>
 <% } %>
  
  
  
  
  
  
  
  
  </div>
  </div>
<d
  
  
  
  
  
  
  
  iv id="badge" class="col s12">
 <h1> </h1>
<div class="container">
<div class="row">
<div class="col s12">
<ul class="tabs tabs-fixed-width">
<li class="tab col s3"><a href="#games">Games Badges</a></li>
<li class="tab col s3"><a href="#football">Football Badges</a></li>
</ul>
</div>
<h1 style="padding-bottom: 33px;"></h1>
</div> 
  
  
  <div id="games" class="col s12">
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
</style>
<div style="padding-top: 3%" class="center-align">
<img class="center" src="https://image.flaticon.com/icons/svg/222/222566.svg">
<h5>Rhyno Team</h5>
<p style="color: #99AAB5">This area will be available soon.</p>
</div>  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
<div id="football" class="col s12">

<div class="row">
<div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/740556620358221906/741203011287646218/real-madrid.png?size=512">
      <%if(curbadge === 'https://cdn.discordapp.com/attachments/740556620358221906/741203011287646218/real-madrid.png') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                <%if(real === null) {%>

           <form class="box" action="/customize/b1" method='post' id="buyb_1">
  <center><button type="submit" class="btn" id="buyb_1" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy1();">$500</button></center>
  </form>
            <%}%>
                  <%if(real === 'True') {%>
     <form class="box" action="/customize/ub1" method='post' id="useb_1">
  <center><button type="submit" class="btn" id="useb_1" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use1();">USE</button></center>
  </form>
  <%}%>
</div>
</div>
</div>
  
  
  <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/740556620358221906/741203010046132224/liverpool.png?size=512">
    <%if(curbadge === 'https://cdn.discordapp.com/attachments/740556620358221906/741203010046132224/liverpool.png') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                <%if(liver === null) {%>

           <form class="box" action="/customize/b2" method='post' id="buy_b2">
  <center><button type="submit" class="btn" id="buy_b2" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy2();">$500</button></center>
  </form>
            <%}%>
                  <%if(liver === 'True') {%>
     <form class="box" action="/customize/ub2" method='post' id="useb_2">
  <center><button type="submit" class="btn" id="useb_2" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use1();">USE</button></center>
  </form>
  <%}%>
</div>
</div>
</div>
  
  <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/740556620358221906/741203007877939210/022-barcelona.png?size=512">
                  <%if(curbadge === 'https://cdn.discordapp.com/attachments/740556620358221906/741203007877939210/022-barcelona.png') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>

  <%}%>
                    <%if(barca=== null) {%>

           <form class="box" action="/customize/b3" method='post' id="buy_b3">
  <center><button type="submit" class="btn" id="buy_b3" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy3();">$500</button></center>
  </form>
            <%}%>
                  <%if(barca === 'True') {%>
     <form class="box" action="/customize/ub3" method='post' id="use_b3">
  <center><button type="submit" class="btn" id="use_b3" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use3();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  
 
    <div class="col s12 m6 l3">
<div class="card">
<div class="card-image">
<img src="https://cdn.discordapp.com/attachments/740556620358221906/741203008796360714/025-borusia-dortmund.png?size=512">
                  <%if(curbadge === 'https://cdn.discordapp.com/attachments/740556620358221906/741203008796360714/025-borusia-dortmund.png') {%>
  <span class="card-title" style="width: 100%; background: rgba(32,34,37,0.6); padding: 1%; text-align: center; z-index: 1;">＃ Current</span>
  <%}%>
                    <%if(bvb === null) {%>

           <form class="box" action="/customize/b4" method='post' id="buy_b4">
  <center><button type="submit" class="btn" id="buy_4" style="color: #fffff !important;border-color: #ced4da !important;" onclick="buy4();">$500</button></center>
  </form>
            <%}%>
                  <%if(bvb === 'True') {%>
     <form class="box" action="/customize/ub4" method='post' id="use_b4">
  <center><button type="submit" class="btn" id="use_b4" style="color: #fffff !important;border-color: #ced4da !important;" onclick="use4();">USE</button></center>
  </form>
  <%}%>
  
  
</div>
</div>
</div>
  </div> 
  </div>
  
  
  
  
  
</div>

  
  
<script type="f77eb3da68aa03abc4707f76-text/javascript" src="/js/materialize.js"></script>
<script type="f77eb3da68aa03abc4707f76-text/javascript" src="/js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133673565-1" type="f77eb3da68aa03abc4707f76-text/javascript"></script>
<script type="f77eb3da68aa03abc4707f76-text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-133673565-1');
        </script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="f77eb3da68aa03abc4707f76-|49" defer=""></script></body>
</html>